.Popup {
  position: fixed;
  top: 60%;
  left: 2%;
  width: 40%;
  min-width: 350px;
  height: 250px;

  display: flex;
  flex-direction: column;
  padding: 1.5em;

  background-color: #72849c;
  box-shadow: 10px 10px 30px black;
  border-radius: 10px;
}

.PopupTitle {
  margin: 1em 0;
  color: #221f1c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.CopyUrl {
  display: flex;
  align-items: center;
}

#url {
  background-color: #fdf9f3;
  padding: 0.5em;
  border-radius: 10px;
}

.copyimg {
  width: 30px;
}

.copyimg:hover {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

/*-------SOCIAL ICONS-------*/

.PopupSocial {
  display: flex;
  margin: 1em 0;
}
.PopupSocial img {
  width: 50px;
  margin: 0.4em;
}

.PopupSocial img:hover {
  background-color: #221f1c;
  border-radius: 10px;
  cursor: pointer;
}

.PopupButton {
  padding: 0.5em;
}
